NEXT_PUBLIC_SUPABASE_URL="https://oruzlcprcaerxwiexyvn.supabase.co"

NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9ydXpsY3ByY2Flcnh3aWV4eXZuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg0MjQ1MDYsImV4cCI6MjA5NDAwMDUwNn0.iaW98wjJmrE6AJDXAssHS_eww1JjNUOlaS-4ujH5ew4"

SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_SITE_URL=http://localhost:3000

NEXT_PUBLIC_KAKAO_CLIENT_ID=

KAKAO_CLIENT_SECRET=

RESEND_API_KEY=